*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(lightblue, salmon);
  color: white;
}

.container{
  border: 1px solid white;
  border-radius: 10px;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
}

.container h1{
  margin-block: 5px;
  user-select: none;
}

.input-box{
  position: relative;
}

.passbox{
  border: none;
  outline: none;
  border-radius: 5px;
  background: white;
  width: 310px;
  padding-block: 8px;
  font-size: 20px;
  margin-block: 5px;
  overflow: hidden;
}

.input-box span{
  position: absolute;
  top: 12px;
  right: 6px;
  color: black;
  cursor: pointer;
  z-index: 2;
}

.row{
  margin-block: 5px;
  display: flex;
}

.row p, .row label{
  font-size: 18px;
  flex-basis: 100%;
}

.row input[type="checkbox"]{
  height: 18px;
  width: 18px;
}

.genBtn{
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 12px 24px;
  margin-block: 8px;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(187, 93, 107);
  opacity: 0.8;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.genBtn:hover{
  opacity: 1;
}